<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#if description}}
    <meta name="description" content="{{description}}" />
    {{/if}}
    <link rel="shortcut icon" href="{{base}}favicon.ico" type="image/x-icon" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="./assets/style/index.less" />
  </head>
  <body>
    <header class="layout-header {{#if toc}}has-aside{{/if}}">
      {{#if toc}}
      <div class="aside-btton">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          role="img"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"
          ></path>
        </svg>
      </div>
      {{/if}}
      <a class="home-link" href="{{base}}"><span>{{siteTitle}}</span></a>
    </header>
    {{#if toc}}
    <aside class="layout-aside">
      <nav>
        {{#each toc}} {{#with this}}
        <a class="level-{{level}}" href="#{{id}}" title="{{title}}">
          {{title}}
        </a>
        {{/with}} {{/each}}
      </nav>
    </aside>
    <div class="aside-mask"></div>
    {{/if}}
    <main class="layout-main" role="main">
      <div class="layout-container">
        <article class="layout-article markdown">{{{html}}}</article>
        <footer class="layout-footer">
          {{#if time}}
          <time class="time">{{time}}</time>
          {{/if}} {{#if copyright}}
          <p class="copyright">{{copyright}}</p>
          {{/if}}
        </footer>
      </div>
    </main>
    {{#if hot}}
    <script>
      let pathname = window.location.pathname;
      if (pathname.endsWith('/')) pathname += 'index.html';
      const ws = new WebSocket(`ws://${window.location.host}`);
      ws.addEventListener('open', function (event) {
        ws.send('ping');
        setInterval(function () {
          ws.send('ping');
        }, 60 * 1000);
      });
      ws.addEventListener('message', function (event) {
        if (event.data === pathname) {
          window.location.reload();
        }
      });
    </script>
    {{/if}}
    <script type="module" src="./assets/js/index.js"></script>
  </body>
</html>
