* {
  box-sizing: border-box;
}

aside a {
  display: inline-block;
  padding: 0.35rem 1rem 0.35rem 2rem;
  border-left: 0.25rem solid transparent;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #333333;
}

aside a:hover {
  color: #2478ff;
}

aside a.active {
  border-left-color: #2478ff;
  color: #2478ff;
}

.level-h1 {
  padding-left: 1rem;
}
.level-h2 {
  padding-left: 2rem;
}
.level-h3 {
  padding-left: 3rem;
}
.level-h4 {
  padding-left: 4rem;
}
.level-h5 {
  padding-left: 5rem;
}
.level-h6 {
  padding-left: 6rem;
}

.time {
  text-align: right;
  font-size: 12px;
  font-style: italic;
}
