.layout-aside {
  display: none;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  padding: 32px 0;
  border-right: 1px solid #eaecef;
  position: fixed;
  left: 0;
}

.layout-main {
  padding: 32px 16px;
}

.layout-article,
.layout-footer {
  max-width: 1000px;
  margin: auto;
}

@media screen and (min-width: 1332px) {
  .layout-aside {
    display: block;
  }
  .layout-aside + .layout-main {
    margin-left: 300px;
  }
}
