.wysiwyg h1 .header-anchor,
.wysiwyg h2 .header-anchor,
.wysiwyg h3 .header-anchor,
.wysiwyg h4 .header-anchor,
.wysiwyg h5 .header-anchor,
.wysiwyg h6 .header-anchor {
  opacity: 0;
}
.wysiwyg h1:hover .header-anchor,
.wysiwyg h2:hover .header-anchor,
.wysiwyg h3:hover .header-anchor,
.wysiwyg h4:hover .header-anchor,
.wysiwyg h5:hover .header-anchor,
.wysiwyg h6:hover .header-anchor {
  opacity: 1;
}
.wysiwyg pre code {
  padding: 0;
  line-height: 1.5;
}
.wysiwyg table {
  border-collapse: collapse;
}
.wysiwyg ul,
.wysiwyg ol {
  padding-left: 0;
}
.wysiwyg details {
  margin-bottom: 2.8em;
}
.wysiwyg details:last-child {
  margin-bottom: 0;
}
.wysiwyg .mermaid {
  margin-bottom: 1.4em;
  width: 100%;
  overflow-x: auto;
}
.wysiwyg .mermaid:last-child {
  margin-bottom: 0;
}
