body {
  margin: 48px 24px;
}

main {
  width: 1000px;
  margin: auto;
}

@media screen and (max-width: 1048px) {
  main {
    width: calc(100% - 48px);
  }
}

.wysiwyg pre code {
  padding: 0;
}
.wysiwyg table {
  border-collapse: collapse;
}
