body {
  margin: 48px 24px;
}

main {
  width: 1000px;
  margin: auto;
}

@media screen and (max-width: 1048px) {
  main {
    width: 100%;
  }
}

.wysiwyg .header-anchor {
  visibility: hidden;
}
.wysiwyg h1:hover .header-anchor,
.wysiwyg h2:hover .header-anchor,
.wysiwyg h3:hover .header-anchor,
.wysiwyg h4:hover .header-anchor,
.wysiwyg h5:hover .header-anchor,
.wysiwyg h6:hover .header-anchor {
  visibility: initial;
}
.wysiwyg pre code {
  padding: 0;
}
.wysiwyg table {
  border-collapse: collapse;
}
