@import './var.less';
@import 'normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: @font-size;
  font-family: @font-family;
  color: @color-primary-text;
  background-color: @gray-1;
}

.layout {
  @aside-width: 300px;
  @container-max-width: 1000px;

  &-aside {
    display: none;
    position: fixed;
    left: 0;
    width: @aside-width;
    height: 100vh;
    padding: @unit * 3 0;
    border-right: 1px solid @color-border;
    overflow-y: auto;

    nav a {
      display: block;
      width: 100%;
      padding: 0.4em 1em 0.4em 2em;
      border-left: 0.35em solid transparent;
      color: @color-primary-text;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      text-decoration: none;

      &:hover {
        color: @blue;
      }

      &.active {
        border-left-color: @blue;
        color: @blue;
      }

      &.level-h1 {
        padding-left: 1em;
      }
      &.level-h2 {
        padding-left: 2em;
      }
      &.level-h3 {
        padding-left: 3em;
      }
      &.level-h4 {
        padding-left: 4em;
      }
      &.level-h5 {
        padding-left: 5em;
      }
      &.level-h6 {
        padding-left: 6em;
      }
    }
  }

  &-main {
    padding: @unit * 3 @unit * 2;
  }

  &-container {
    max-width: @container-max-width;
    margin: auto;
  }

  @media (min-width: @container-max-width + @unit * 4 + @aside-width) {
    &-aside {
      display: block;
    }

    &-aside + &-main {
      margin-left: @aside-width;
    }
  }
}

.time {
  display: block;
  margin: 2em 0 0;
  font-size: 0.75em;
  font-style: italic;
  color: @color-secondry-text;
  text-align: right;
}

.copyright {
  margin: 2em 0 0;
  font-size: 0.75em;
  color: @color-secondry-text;
  text-align: center;
}

@import 'prismjs/themes/prism.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'katex/dist/katex.css';
@import './markdown.less';
