.markdown {
  @margin: 1.4em;
  @line-height: 1.6;

  .heading(@font-size, @with-border: false) {
    & when (@with-border = true) {
      padding-bottom: 0.3em;
      border-bottom: 1px solid @gray-5;
    }
    margin-bottom: (@margin / @font-size);
    font-size: unit(@font-size, em);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cell(@font-size) {
    padding: ((@margin / 2) / @font-size);
    font-size: unit(@font-size, em);
  }

  line-height: @line-height;
  color: @gray-11;

  * {
    margin-top: 0;

    &[id] {
      scroll-margin-top: @header-height;
    }
  }

  a {
    color: @blue-6;

    &:hover {
      text-decoration: underline;
    }
  }

  abbr {
    cursor: help;
  }

  cite,
  em {
    font-style: italic;
  }

  hr {
    display: block;
    height: 1px;
    border: none;
    margin-top: @margin;
    margin-bottom: @margin;
    background-color: @gray-5;
  }

  img {
    vertical-align: text-bottom;
    max-width: 100%;

    &.border {
      border: 1px solid @gray-5;
    }
  }

  ins {
    background-color: lime;
    text-decoration: none;
  }

  mark {
    background-color: yellow;
  }

  small {
    font-size: 0.8em;
  }

  strong {
    font-weight: @weight-strong;
  }

  sub,
  sup {
    font-size: 0.8em;
  }

  sub {
    vertical-align: sub;
  }

  sup {
    vertical-align: super;
  }

  *:not(pre) > code,
  kbd,
  samp {
    padding: 0.1em 0.4em 0.2em;
    font-size: 0.9em;
    font-family: @font-family-code;
    vertical-align: baseline;
  }

  *:not(pre) > code,
  samp {
    border-radius: 3px;
    color: @magenta-6;
    background-color: @gray-4;
  }

  kbd {
    border: 1px solid @gray-5;
    border-radius: 6px;
    background-color: @gray-2;
    box-shadow: inset 0 -1px @gray-5;
  }

  svg.feather {
    vertical-align: bottom;
    width: 1em;
    height: unit(@line-height, em);
  }

  .checkbox {
    margin-right: 0.4em;
    color: @gray-8;
  }

  p,
  ol,
  ul,
  dl,
  dd,
  blockquote,
  center,
  pre,
  table,
  figure,
  details,
  .mermaid,
  .info,
  .warning,
  .success,
  .danger,
  .tips {
    margin-bottom: @margin;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:empty {
      display: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25;
    font-weight: @weight-strong;

    .header-anchor {
      display: none;
      margin-left: @unit;
    }

    &:hover .header-anchor {
      display: inline;
    }

    svg.feather {
      height: 1.25em;
    }
  }

  h1 {
    .heading(2, true);
  }

  h2 {
    .heading(1.5, true);
  }

  h3 {
    .heading(1.25);
  }

  h4 {
    .heading(1);
  }

  h5 {
    .heading(0.875);
  }

  h6 {
    .heading(0.85);
  }

  ol,
  ul {
    padding-left: @margin * 1.5;
    list-style-position: outside;
  }

  ol {
    list-style-type: decimal;

    ol {
      list-style-type: lower-alpha;

      ol {
        list-style-type: lower-roman;

        ol {
          list-style-type: lower-greek;

          ol {
            list-style-type: decimal;

            ol {
              list-style-type: lower-alpha;
            }
          }
        }
      }
    }
  }

  ul {
    list-style-type: disc;

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;

        ul {
          list-style-type: disc;

          ul {
            list-style-type: circle;

            ul {
              list-style-type: square;
            }
          }
        }
      }
    }
  }

  dt {
    font-weight: @weight-strong;
  }

  dd {
    margin-left: @margin * 1.5;
  }

  blockquote {
    padding: 0.5em 1em;
    border-left: 4px solid @gray-5;
    margin-left: 0;
    color: @gray-7;
  }

  center {
    text-align: center;
  }

  pre {
    margin-top: 0;
  }

  table {
    display: block;
    width: max-content;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    overflow: auto;

    th,
    td {
      .cell(1);
      border: 1px solid @gray-5;
    }

    thead,
    tfoot {
      tr {
        background-color: @gray-3;

        th,
        td {
          font-weight: @weight-strong;
        }
      }
    }

    tbody {
      tr {
        background-color: @gray-1;

        &:hover {
          background-color: @gray-3;
        }
      }
    }
  }

  figure {
    text-align: center;

    & > *:nth-last-child(2) {
      margin-bottom: 0;
    }

    table {
      margin-left: auto;
      margin-right: auto;
    }

    figcaption {
      margin-top: 0.5em;
      font-size: 0.8em;
      color: @gray-7;
    }
  }

  details {
    border: 1px solid @gray-5;

    summary {
      .cell(1);
      background-color: @gray-3;
      outline: none;
      user-select: none;
    }

    & > div {
      .cell(1);
      border-top: 1px solid @gray-5;
      background-color: @gray-1;
    }
  }

  .mermaid {
    width: 100%;
    overflow-x: auto;
    text-align: center;
  }

  .katex-display {
    margin: 0;
  }

  .info,
  .warning,
  .success,
  .danger,
  .tips {
    .cell(1);
    border-radius: 2px;
  }
  .info {
    border: 1px solid @blue-4;
    background-color: @blue-1;
  }
  .warning {
    border: 1px solid @gold-4;
    background-color: @gold-1;
  }
  .success {
    border: 1px solid @green-4;
    background-color: @green-1;
  }
  .danger {
    border: 1px solid @red-4;
    background-color: @red-1;
  }
  .tips {
    border: 1px solid @yellow-6;
    background-color: @yellow-3;
  }
}
